.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  width: 100%;
  background-color: #a4dcdd;
  padding-block: 1em;
}

.headerTitle {
  margin-left: 3em;
}

.title {
  font-size: 32px;
}

.headerPageName {
  margin-right: 3em;
}

.pageName {
  font-size: 54px;
}

.block {
  width: 80vw;
  max-width: 1732px;
}

.infoBlock {
  margin-top: 5vh;
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  gap: 1vw;
  max-height: 62vh;
}

.infoBlock > * {
  border-radius: 20px;
}

.cardBlock {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #ade1bd;
}

.cardBlockImg {
  height: 100%;
}

.cardBlockText {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d5564;
  padding-block: 1em;
  height: 10vh;
  border-radius: 0 0 20px 20px;
}

.cardImg {
  width: 100%;
  height: 100%;
}

.cardText {
  font-weight: 500;
  text-align: center;
  color: #ade1bd;
  white-space: pre-wrap;
}

.descBlock {
  background-color: #ade1bd;
  grid-area: 1 / 2 / 2 / 4;
  padding: 2em;
  height: 15em;
}

.numberBlock {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #ade1bd;
  padding: 2em;
  align-self: flex-end;
}

.passwordBlock {
  grid-area: 2 / 3 / 3 / 4;
  background-color: #ade1bd;
  padding: 2em;
  align-self: flex-end;
}

.dataTitle {
  display: flex;
  margin-bottom: 1em;
}

.titleText {
  text-wrap: nowrap;
}

.dataText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.textImage {
  width: 40px;
  height: 40px;
}

.textBlock {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.text {
  white-space: pre-wrap;
}

.buttonBlock {
  margin-top: 5vh;
}

.button {
  width: 100%;
}

.buttonText {
  color: #ade1bd;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
