.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  background-color: #a4dcdd;
  padding: 94x 48px;
}

.headerTitle {
  margin-left: 3em;
}

.title {
  font-size: 32px;
}

.headerPageName {
  margin-right: 3em;
}

.pageName {
  font-size: 54px;
}

.block {
  width: 80vw;
  max-width: 1732px;
}

.infoBlock {
  margin-top: 5vh;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 3fr 1fr;
  gap: 20px;
  max-height: 683px;
}

.infoBlock > * {
  border-radius: 20px;
}

.cardBlock {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #ade1bd;
  max-width: 537px;
}

.cardBlockImg {
  height: 80%;
}

.cardBlockText {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d5564;
  padding-block: 45px;
  height: 20%;
  border-radius: 0 0 20px 20px;
}

.cardImg {
  width: 100%;
  height: 100%;
}

.cardText {
  font-weight: 500;
  text-align: center;
  color: #ade1bd;
  white-space: pre-wrap;
}

.descBlock {
  background-color: #ade1bd;
  grid-area: 1 / 2 / 2 / 4;
  padding: 40px 40px 0 40px;
}

.numberBlock {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #ade1bd;
  padding: 2em;
  align-self: flex-end;
}

.passwordBlock {
  grid-area: 2 / 3 / 3 / 4;
  background-color: #ade1bd;
  padding: 2em;
  align-self: flex-end;
}

.dataTitle {
  display: flex;
  margin-bottom: 1em;
}

.titleText {
  text-wrap: nowrap;
}

.dataText {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.textImage {
  width: 40px;
  height: 40px;
}

.textBlock {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.text {
  white-space: pre-wrap;
}

.buttonBlock {
  margin-top: 5vh;
}

.button {
  width: 100%;
}

.buttonText {
  color: #ade1bd;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(29, 85, 100, 0.75);
}

.modalBox {
  display: flex;
  flex-direction: column;
  background-color: #fcfcf2;
  border-radius: 20px;
  padding: 50px;
  gap: 30px;
  max-width: 1544px;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalButtons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modalButtons .button {
  height: 100px;
  background-color: #ade1bd;
}

.modalButtons .button p {
  transition: color 0.2s ease-in-out;
}

.modalButtons .button:hover {
  background-color: #1d5564;
}

.modalButtons .button:hover p {
  color: #ade1bd;
}
