.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  background-color: #a4dcdd;
  padding: 94x 48px;
}

.headerTitle {
  margin-left: 3em;
}

.title {
  font-size: 32px;
}

.headerCounter {
  margin-right: 3em;
}

.counter {
  font-size: 54px;
}

.block {
  max-width: 1732px;
}

.players {
  display: grid;
  margin-top: 5vh;
  grid-template-columns: repeat(5, 232px);
  grid-template-rows: repeat(2, 310px);
  gap: 40px;
  border-radius: 30px;
}

.footer {
  margin-top: 40px;
  font-size: 18px;
  width: 100%;
}

.button {
  width: 100%;
}

.waitingBlock {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 20px;
}

.waitingText {
  color: #ffffff;
}

.buttonText {
  color: #ade1bd;
}

.socket {
  max-width: 300px;
  max-height: 300px;
  background-color: #d9d9d9;
  border-radius: 20px;
}
